CI_ENVIRONMENT = production
app.baseURL = 'https://your-orbit-site.example/'
app.indexPage = ''
database.default.hostname = localhost
database.default.database = orbit_devices
database.default.username = orbit
database.default.password = CHANGE_ME
database.default.DBDriver = MySQLi
database.default.port = 3306
ORBIT_ADMIN_PASSWORD = REPLACE_WITH_A_UNIQUE_PASSWORD
